---
author_profile: true
title: "![](assets/images/foto_mia2.svg)" #  Jesus Tordesillas Torres
layout: splash

permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/images/mine1_compressed.jpg
  #actions:
  #  - label: "Download"
  #    url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "**Jesus Tordesillas Torres**<br/> Assistant Professor at Comillas-ICAI <br/>"


resume:
  - excerpt: "
  ![](assets/images/comillas.png){: .align-left} ![](assets/images/eth.svg){: .align-left} ![](assets/images/mit.svg){: .align-left}  ![](assets/images/nasa.svg){: .align-left}  ![](assets/images/etsii.svg){: .align-left}"

resume2:

  - excerpt: '<i class="fa fa-envelope"></i> [jtordesillas@comillas.edu](mailto:jtordesillas@comillas.edu)            <i class="fab fa-fw fa-github"></i> [GitHub](https://github.com/jtorde)             <i class="fa fa-graduation-cap"></i> [Google Scholar](https://scholar.google.com/citations?user=QKcwqsQAAAAJ&hl=en&oi=sra)             <i class="fab fa-fw fa-linkedin"></i> [LinkedIn](https://www.linkedin.com/in/jesus-tordesillas-torres/)'

life:

  - excerpt: "**EDUCATION**  ([Download Resume](https://www.dropbox.com/sh/hpoocazyuadugex/AAAT2Kp-mVMGfSTispjnREH1a?dl=0)) 
  
    * Assistant Professor at [Comillas-ICAI](https://www.comillas.edu/en/icai/) (June'24-Present)

    * Postdoc in Robotics at ETH Zurich ([RSL](https://rsl.ethz.ch/), Jan'23-May'24)

    * Postdoc in Robotics at MIT ([ACL](http://acl.mit.edu/), Sept'22-Jan'23)

    * PhD in Robotics at MIT ([ACL](http://acl.mit.edu/), 2019-2022)

    * Internship at NASA JPL ([Group 347T](https://www-robotics.jpl.nasa.gov/who-we-are/groups/347T/), Summer 2019)

    * MS in Robotics at MIT ([ACL](http://acl.mit.edu/), 2017-2019)

    * MS in Robotics and Electronics at [ETSII-UPM](https://www.etsii.upm.es/) (2016-2018)

    * BS in Robotics and Electronics at [ETSII-UPM](https://www.etsii.upm.es/) (2012-2016)"

  - excerpt: "**PUBLICATIONS**"


publicationstitle:
  - excerpt: "**PUBLICATIONS:**"


quicklinks: 
  - excerpt: '<i class="fa fa-envelope"></i> [jtordesillas@comillas.edu](mailto:jtordesillas@comillas.edu)            <i class="fab fa-fw fa-github"></i> [GitHub](https://github.com/jtorde)             <i class="fa fa-graduation-cap"></i> [Google Scholar](https://scholar.google.com/citations?user=QKcwqsQAAAAJ&hl=en&oi=sra)             <i class="fab fa-fw fa-linkedin"></i> [LinkedIn](https://www.linkedin.com/in/jesus-tordesillas-torres/)'


feature_row:

  - title: "DiffSim2Real"
    image_path: assets/images/diffsim2real.png
    alt: "placeholder image 1" 
    excerpt: "Deploying Quadrupedal Locomotion Policies Purely Trained in Differentiable Simulation<br/>  
    [Paper](https://arxiv.org/abs/2411.02189){: .btn .btn--primary .btn--small .btn--success} **DiffOpt, CoRL 2024**"

  - title: "Continuous-Time State Estimation"
    image_path: assets/images/continuous_time_survey.png
    alt: "placeholder image 1" 
    excerpt: "Continuous-Time State Estimation Methods in Robotics: A Survey<br/>  
    [Paper](https://arxiv.org/abs/2411.03951){: .btn .btn--primary .btn--small .btn--success} **In review**"

  - title: "PRIMER"
    image_path: assets/images/primer.png
    alt: "placeholder image 1" 
    excerpt: "Perception-Aware Learning-based Multiagent Trajectory Planner<br/>  
    [Paper](https://arxiv.org/abs/2406.10060){: .btn .btn--primary .btn--small .btn--success} **ICRA 2025**"

  - title: "Differentiable Simulation"
    image_path: assets/images/diff_sim.png
    alt: "placeholder image 1" 
    excerpt: "Learning Quadrupedal Locomotion via Differentiable Simulation<br/>  
    [Paper](https://arxiv.org/abs/2404.02887){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=wmyp76Y5mPg){: .btn .btn--primary .btn--small .btn--info} **In review**"

  - title: "RAYEN"
    image_path: assets/images/rayen.png
    alt: "placeholder image 1" 
    excerpt: "Imposition of Hard Convex Constraints on Neural Networks<br/>  
    [Paper](http://arxiv.org/abs/2307.08336){: .btn .btn--primary .btn--small .btn--success}
    [Code](https://github.com/leggedrobotics/rayen){: .btn .btn--primary .btn--small .btn--primary}  **In review**"

  - title: "Tutorial"
    image_path: assets/images/tutorial_opt.png
    alt: "placeholder image 1" 
    excerpt: "Optimization, Optimal Control, Trajectory Optimization, and Splines<br/>  
    [Video](https://www.youtube.com/watch?v=j82Ia436DYY){: .btn .btn--primary .btn--small .btn--info}"

  - title: "RMADER Planner"
    image_path: assets/images/rmader.png
    alt: "placeholder image 1" 
    excerpt: "Decentralized and Asynchronous Multiagent Trajectory Planner Robust to Comm. Delay<br/>  
    [Best Poster Award in CAMRS Workshop (ICRA)](https://sites.google.com/view/camrs-icra2023){: .btn .btn--primary .btn--small .btn--danger} <br/> 
    [RA-L Paper](https://arxiv.org/abs/2303.06222){: .btn .btn--primary .btn--small .btn--success}
    [ICRA Paper](https://arxiv.org/abs/2209.13667){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://youtu.be/i1d8di2Nrbs){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/rmader){: .btn .btn--primary .btn--small .btn--primary}  **RA-L and ICRA 2023**"

  - title: "PhD Thesis"
    image_path: assets/images/phd_defense.png
    alt: "placeholder image 1" 
    excerpt: "Trajectory Planning for Flights in Multiagent and Dynamic Environments <br/>  
    [Video of the defense](https://www.youtube.com/watch?v=ne0AigHwlEw){: .btn .btn--primary .btn--small .btn--info} 
    [Dissertation](https://dspace.mit.edu/handle/1721.1/147446){: .btn .btn--primary .btn--small .btn--success}"

  - title: "Deep-PANTHER Planner"
    image_path: assets/images/deep_panther.png
    alt: "placeholder image 1" 
    excerpt: "Deep-PANTHER: Learning-Based Perception-Aware Traj. Planner in Dynamic Enviroments <br/>  
    [Paper](https://arxiv.org/abs/2209.01268){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/watch?v=53GBjP1jFW8){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/deep_panther){: .btn .btn--primary .btn--small .btn--primary} **RA-L**"

  - title: "PANTHER Planner"
    image_path: assets/images/panther_cropped.gif
    alt: "placeholder image 1" 
    excerpt: "Perception-Aware Trajectory Planner in Dynamic Environments <br/>  
    [Paper](https://arxiv.org/abs/2103.06372){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/watch?v=jKmyW6v73tY){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/panther){: .btn .btn--primary .btn--small .btn--primary} **IEEE Access**"

  - title: "MADER Planner"
    image_path: assets/images/mader.png
    alt: "placeholder image 1" 
    excerpt: "Trajectory Planner in Multi-Agent and Dynamic Environments <br/>  
    [Paper](https://arxiv.org/abs/2010.11061){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/watch?v=aoSoiZDfxGE){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/mader){: .btn .btn--primary .btn--small .btn--primary} **T-RO**"

  - title: "MINVO Basis"
    image_path: assets/images/minvo.png
    alt: "placeholder image 1" 
    excerpt: "Finding Simplexes with Minimum Volume Enclosing Polynomial Curves <br/>  
    [Paper](https://arxiv.org/abs/2010.10726){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/watch?v=x5ORkDCe4O0){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/minvo){: .btn .btn--primary .btn--small .btn--primary} **CAD journal**"

  - title: "LION Estimator"
    image_path: assets/images/mine1.jpg
    alt: "placeholder image 1"
    image_caption: "Mine in West Virginia, 275 meters underground"   
    excerpt: "Lidar-Inertial Observability-Aware Navigator for Vision-Denied Environments <br/>
    [Paper](https://arxiv.org/abs/2102.03443){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/watch?v=Jd-sqBioarI){: .btn .btn--primary .btn--small .btn--info} **ISER 2020**"

  - title: "Traversability"
    image_path: /assets/images/mine2.jpg
    image_caption: "Mine in West Virginia, 275 meters underground"
    alt: "placeholder image 2"
    excerpt: "Autonomous Navigation in GPS-Denied and Perceptually-Degraded Environments<br/>  
    [Paper](https://arxiv.org/abs/2101.11110){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://youtu.be/cjxN2Tu-qVY){: .btn .btn--primary .btn--small .btn--info} **ISER 2020**"

  - title: "NeBula Autonomy"
    image_path: assets/images/nebula.png
    alt: "placeholder image 1"  
    excerpt: "DARPA Subterranean Challenge <br/> 
    [1<sup>st</sup> place in  Urban Circuit (Darpa Subt. Challenge)](https://www.jpl.nasa.gov/news/news.php?feature=7607#masterslider:~:text=Taking%20first%20in%20the%20competition%20was,by%20NASA's%20Jet%20Propulsion%20Laboratory%20){: .btn .btn--primary .btn--normal .btn--danger} <br/> 
    [2<sup>nd</sup> place in  Tunnel Circuit (Darpa Subt. Challenge)](https://lids.mit.edu/news-and-events/news/jpl-team-co-led-luca-carlone-participates-darpa-subterranean-challenge#page-title:~:text=Challenge-,JPL%20team%20co%2Dled%20by%20Luca%20Carlone%20participates%20in%20DARPA%20Subterranean%20Challenge,Updated%20August%2029%2C%202019%3A%20We%20are%20happy%20to%20share%20that%20the%20CoSTAR%20team%20took%20second%20place%20in%20the%20Tunnel%20Circuit%20competition%20of%20the%20DARPA%20Subterranean%20Challenge%20on%20Aug.%2022%2C%202019.,-The%20Subterranean%20Challenge%20will%20continue%20with%20the%20Urban%20Circuit%20in%20February%202020.){: .btn .btn--primary .btn--normal .btn--danger} <br/> 
    [Paper](https://arxiv.org/abs/2103.11470){: .btn .btn--primary .btn--small .btn--success} 
    [Video](https://www.youtube.com/@teamcostar853){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/NeBula-Autonomy){: .btn .btn--primary .btn--small .btn--primary}  **JFR**"

  - title: "FASTER Planner"
    image_path: /assets/images/faster_cut_compressed.gif
    excerpt: "Fast and Safe Trajectory Planner for Navigation in Unknown Environments.<br/> 
    [Finalist: Best Paper Award in Search and Rescue Robotics](https://www.iros2019.org/awards#main-content:~:text=FASTER%3A%20Fast%20and%20Safe%20Trajectory%20Planner%20for%20Flights%20in%20Unknown%20Environments){: .btn .btn--primary .btn--small .btn--danger} <br/> 
    [IROS Paper](https://arxiv.org/abs/1903.03558){: .btn .btn--primary .btn--small .btn--success}
    [T-RO Paper](https://arxiv.org/abs/2001.04420){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=fkkkgomkX10){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/mit-acl/faster){: .btn .btn--primary .btn--small .btn--primary}  **T-RO and IROS 2019**"

  - title: "Drone detection using depth maps"
    image_path: /assets/images/detection.png
    excerpt: "Onboard Detection and Localization of Drones Using Depth Maps.<br/>  
    [Paper](https://ieeexplore.ieee.org/document/8984298){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=IAvafBR3A00){: .btn .btn--primary .btn--small .btn--info}  **IEEE Access 2020**"

  - title: "Multi-Fidelity Planner"
    image_path: /assets/images/drone.png
    excerpt: "Real-Time Planning with Multi-Fidelity Models for Agile Flights in Unknown Environments.<br/>  
    [Paper](https://arxiv.org/abs/1810.01035){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=E4V2_B8x-UI){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/jtorde/uav_trajectory_optimizer){: .btn .btn--primary .btn--small .btn--primary} **ICRA 2019**"

  - title: "Trajectory Optimization"
    image_path: /assets/images/acrobatics.png
    excerpt: "Trajectory optimization for multirotors using Gurobi<br/>  
    [Paper](https://github.com/jtorde/uav_trajectory_optimizer_gurobi/blob/master/Trajectory_Optimization_for_Multirotors.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=WnfzMO0pXsc){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/jtorde/uav_trajectory_optimizer_gurobi){: .btn .btn--primary .btn--small .btn--primary}"

  - title: "Drone Racing"
    image_path: /assets/images/racing_compressed.gif
    excerpt: "Trajectory optimization using GPOPS-II<br/>  
    [Thesis](https://dspace.mit.edu/handle/1721.1/122420){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=-YY_0Ib-o_4){: .btn .btn--primary .btn--small .btn--info}
    [Code](https://github.com/jtorde/drone_racing_gpops){: .btn .btn--primary .btn--small .btn--primary}  **Master's Thesis**"

  - title: "Aerial Manipulation"
    image_path: /assets/images/hex_compressed.gif
    excerpt: "Agile Plate Transport with a Hexacopter with Canted Motors.<br/>  
    [Video](https://www.youtube.com/watch?v=cZGYI38smfY){: .btn .btn--primary .btn--small .btn--info}"

  - title: "Adaptive Control for a Multirotor"
    image_path: /assets/images/adaptive_control.png
    excerpt: "TEB, CG, BFG and CF adaptive controllers<br/>  
    [Paper](https://github.com/jtorde/uav_adaptive_control/blob/master/Project_Jesus_Tordesillas_Torres.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Code](https://github.com/jtorde/uav_adaptive_control){: .btn .btn--primary .btn--small .btn--primary}"

  - title: "Reinforcement Learning vs Opt. Control"
    image_path: /assets/images/reinforcement_learning.png
    excerpt: "A numerical comparison of performance and robustness in model-based and model-free methodologies.<br/>  
    [Paper](https://arxiv.org/abs/1904.01200){: .btn .btn--primary .btn--small .btn--success}"

  - title: "Finite Element Simulation for C-Legs"
    image_path: /assets/images/leg_fem_compressed.gif
    excerpt: "Finite Element Simulation for C-Legs using Autodesk Simulation Mechanical.<br/>  
    [Thesis](http://oa.upm.es/42893/1/TFG_JESUS_TORDESILLAS_TORRES.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=bkLuSU4EJuQ){: .btn .btn--primary .btn--small .btn--info} **Undergraduate thesis**"

  - title: "Hexapod Design"
    image_path: /assets/images/robot_animation_compressed.gif
    excerpt: "3D design of a hexapod robot using Autodesk Inventor.<br/>  
    [Plans](http://oa.upm.es/42893/1/TFG_JESUS_TORDESILLAS_TORRES.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=lzc80atU2zc){: .btn .btn--primary .btn--small .btn--info}  **Undergraduate thesis**"

  - title: "Gait Models for a Hexapod Robot"
    image_path: /assets/images/gaits_compressed.gif
    excerpt: "Analysis of different gaits Models applied to a hexapod robot with C-Legs. <br/>  
    [Thesis](http://oa.upm.es/42893/1/TFG_JESUS_TORDESILLAS_TORRES.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=ox8fF_eNNUM){: .btn .btn--primary .btn--small .btn--info} **Undergraduate thesis**"

  - title: "Robot Kinematics with C-Legs"
    image_path: /assets/images/kinetic_model_compressed.gif
    excerpt: "Kinematic model of a hexapod robot with C-Legs. Simulations with Autodesk Inventor.<br/>  
    [Paper](http://oa.upm.es/43381/1/paper_58.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=li80YPY1n2w){: .btn .btn--primary .btn--small .btn--info} **Jorn. de Automática 2016**"

  - title: "Test Bench for C-Legs"
    image_path: /assets/images/test_bench_compressed.gif
    excerpt: "Test Bench to tests C-Legs built using and Arduino Mega and drivers L298N.<br/>  
    [Thesis](http://oa.upm.es/42893/1/TFG_JESUS_TORDESILLAS_TORRES.pdf){: .btn .btn--primary .btn--small .btn--success}
    [Video](https://www.youtube.com/watch?v=HJcVuxUXUYc){: .btn .btn--primary .btn--small .btn--info} **Undergraduate thesis**"

  - title: "Robotic Manipulator"
    image_path: /assets/images/robotic_manipulator.jpg
    excerpt: "Robotic Manipulator design and building using Arduino and LabView.<br/>  
    [Video](https://www.youtube.com/watch?v=cFqCvjnh-FU){: .btn .btn--primary .btn--small .btn--info}"

  - title: "FPGA and VHDL"
    image_path: /assets/images/fpga.jpg
    excerpt: "Schematic design and implementation on a FPGA.<br/>  
    [Schematic designed](/assets/images/vhdl_schematic_designed.pdf){: .btn .btn--primary .btn--small .btn--success}"


#feature_row6:
#  - title: "Test Bench for C-Legs"
#    image_path: /assets/images/test_bench_compressed.gif
#    excerpt: "Test Bench to tests C-Legs built using and Arduino Mega and drivers L298N.<br/>  
#    [Thesis](http://oa.upm.es/42893/1/TFG_JESUS_TORDESILLAS_TORRES.pdf){: .btn .btn--primary .btn--small .btn--success}
#    [Video](https://www.youtube.com/watch?v=HJcVuxUXUYc){: .btn .btn--primary .btn--small .btn--info} **Undergraduate thesis**"



---
{% include feature_row id="resume" type="justified" %}
{% include feature_row id="resume2" type="justified" %}
{% include feature_row id="life" type="justified" %}
{% include feature_row %}


